li{
	display: inline-block;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	border-right: 2px solid #A3A2EF;
	color: #A3A2EF;
}
a{
	text-decoration: none;
	
}
ol{
	text-align: center;
	font-size: 20px;
	padding-top: 50px;
}
p{
	text-align: center;
}
.lista-borde{
	border-right: 2px solid white;
}
.fondo-gris{
	background-color: #E0E0E6;
	border: 1px solid black;
}
.caja{
	text-align: center;
	background-color: #E0E0E6;
	padding: 70px;
	color: #919191;
}
.iconos{
	margin-left: 35%;
}
.parrafo-iconos{
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	color: #BFBFBF;
	font-size: 13px;
}
h3{
	text-align: center;
	color: white;
}
h4{
	text-align: center;
}
.fondo-1{
	background-image: url("img/metodo.jpg");
}
.fondo-2{
	background-image: url("img/fondo.jpg");
}
.parrafo-metodologia{
	color: #BFBFBF;
	font-size: 13px;
}
